*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.todo-app {
  text-align: center;
}

.todo-form {
  margin: 20px 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  cursor: pointer;
}

.todo-item.completed {
  text-decoration: line-through;
}

button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
}
