* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  color: white;
}
.todo-app {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 5%,
    rgba(9, 9, 121, 1) 41%,
    rgba(0, 82, 255, 1) 100%
  );
}

.todo-form {
  margin: 20px;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-form > input {
  min-width: 350px;
  height: 50px;
  color: white;
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10px;
  padding-left: 10px;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo-item {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  cursor: pointer;
  min-width: 400px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border-radius: 10px;
}

.todo-item.completed {
  text-decoration: line-through;
}

button {
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
}
.todo-item-manager {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.todo-item-manager>div{
  cursor: pointer;
}
